@using System.ComponentModel.DataAnnotations
@model MyTvSeries.Web.Models.Profile.CalendarViewModel

@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int previousWeek = Model.CurrentWeek - 1;
    int nextWeek = Model.CurrentWeek + 1;
}

<h2>Calendar</h2>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation">
        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Username">Overview</a>
    </li>
    <li role="presentation" class="active">
        <a href="#">Calendar</a>
    </li>
    <li role="presentation">
        <a asp-area="" asp-controller="Profile" asp-action="SeriesList" asp-route-username="@Model.Username">Series List</a>
    </li>
    <li role="presentation">
        <a asp-area="" asp-controller="Profile" asp-action="Favourites" asp-route-username="@Model.Username">Favourites</a>
    </li>
    <li role="presentation">
        <a href="#">Reviews</a>
    </li>
</ul>

<div class="container-fluid">
    <div class="row" style="height: 30px"></div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayFor(model => model.StartOfWeekDate) - @Html.DisplayFor(model => model.EndOfWeekDate)
        </div>
        <div class="col-md-2">
            <a asp-controller="Profile" asp-action="Calendar" asp-route-username="@Model.Username" asp-route-week="@previousWeek">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-angle-left"></i>
                </button>
            </a>
            <a asp-controller="Profile" asp-action="Calendar" asp-route-username="@Model.Username" asp-route-week="@nextWeek">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-angle-right"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="row" style="height: 30px"></div>
    <div class="row seven-cols">
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Monday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Monday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Monday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Monday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Monday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Tuesday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Tuesday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Tuesday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Tuesday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Tuesday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Wednesday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Wednesday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Wednesday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Wednesday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Wednesday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Thursday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Thursday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Thursday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Thursday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Thursday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Friday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Friday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Friday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Friday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Friday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Saturday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Saturday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Saturday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Saturday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Saturday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }

        </div>
        <div class="col-md-1">
            @if (Model.Today == DayOfWeek.Sunday && Model.CurrentWeek == 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Sunday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Sunday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Sunday</div>
                    <ul class="list-group">
                        @foreach (var episode in Model.Sunday)
                        {
                            <li class="list-group-item">
                                <div>@Html.DisplayFor(x => episode.AirTime)</div>
                                <div style="font-size: 0.8em">@episode.SeriesName</div>
                                <div style="font-size: 0.8em">@Html.Raw("S")@episode.SeasonNumber@Html.Raw("E")@episode.EpisodeNumber</div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
